*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}
.container{
    width: 700px;
    margin: 10px auto;
    padding: 50px;
    text-align: center;
}

.home h1,
.home img{
    margin-bottom: 30px;   
}

h1{
    font-size: 62px;
}

.home img{
    box-shadow: 0 0 10px #e2e2e2;
    border-radius: 50%;
}
.home li{
    list-style: none;
}

li a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: #000;
    border: 1px solid #cacaca;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
}

li a:hover,
.container.page .home-button:hover{
    background-color: #b6b6b6;
    color: white;
    outline: none;
}

/* PAGE CONTAINER */

.container.page{
    width: 1000px;
    border: 1px solid #c0c0c0;
    border-radius: 20px;
    line-height: 2;

}
.container.page .home-button{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    outline: 1px solid #333;
    padding: 5px 30px;
    border-radius: 30px;
}
.container.page img{
    border-radius: 20px;
}

.container.page h2{
    margin: 25px 0;
    text-decoration: underline;
    font-size: 30px;
}

.container.page h2,
.container.page p,
.container.page li{
    text-align: left;
}

.container.page li{
    margin-left: 30px;
}